{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2>Following</h2>

    <div id="posts-view">
        {% for post in all_posts %}
            <div class="post-container">
                <h5><a style="color:black;" href="{% url 'profile' username=post.author %}">{{ post.author }}</a></h5>
                <div>{{ post.body }}</div>
                <div class="text-muted">{{ post.timestamp }}</div>
                {% if post in liked_posts %}
                    <button id="like-button-{{post.id}}" class="unstyled-button" onclick="likePost({{ post.id }})">
                        <i class="bi bi-heart-fill"></i> {{ post.likes }}
                    </button>
                {% else %}
                    <button id="like-button-{{post.id}}" class="unstyled-button" onclick="likePost({{ post.id }})">
                        <i class="bi bi-heart"></i> {{ post.likes }}
                    </button>
                {% endif %}     
            </div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/following.js' %}" type="module"></script>
    <script>
        function likePost(postId) {
            fetch('/like', {
                method: 'PUT',
                body: JSON.stringify({
                    postId: postId
                })
            })
            .then(response => response.json())
            .then(result => {
                let isPostLiked = result["isPostLiked"];
                const likeCount = result["likeCount"];
                
                const likeButton = document.getElementById(`like-button-${postId}`);
                likeButton.innerHTML = isPostLiked ? `<i class="bi bi-heart-fill"></i> ` : `<i class="bi bi-heart"></i> `;
                likeButton.append(likeCount);
            })
        }
    </script>
{% endblock %}
