{% extends "network/layout.html" %}
{% load static %}

{% block body %}
 
    <h2>Profile</h2>

    {{ username|json_script:"username" }}
    {{ followers|json_script:"followers" }}
    {{ should_show_follow_button|json_script:"shouldShowFollowButton" }}
    {{ is_user_following|json_script:"isUserFollowing" }}

    <div id="follow-view" class="post-container">
        <h5>{{ username }}</h5>
        <div>Following: {{ following }}</div>
        <div id="followers-count">Followers: {{ followers }}</div> 
    </div>

    <div id="posts-view">
        {% for post in all_posts %}
            <div id="post-view-{{post.id}}" class="post-container">
                <h5><a style="color:black;" href="{% url 'profile' username=post.author %}">{{ post.author }}</a></h5>
                <div id="post-body-{{post.id}}">{{ post.body }}</div>
                <button style="color:#227bff;" class="unstyled-button" onclick="editPost({{ post }})">Edit</button>
                <div class="text-muted">{{ post.timestamp }}</div>
                {% if post in liked_posts %}
                    <button id="like-button-{{post.id}}" class="unstyled-button" onclick="likePost({{ post.id }})">
                        <i class="bi bi-heart-fill"></i> {{ post.likes }}
                    </button>
                {% else %}
                    <button id="like-button-{{post.id}}" class="unstyled-button" onclick="likePost({{ post.id }})">
                        <i class="bi bi-heart"></i> {{ post.likes }}
                    </button>
                {% endif %}
            </div>
            <!-- edit post section -->
            <div id="post-edit-{{post.id}}" class="post-container" style="display: none;">
                <form id="edit-post-form">
                    <div class="form-group">
                        <textarea id="edit-post-body" class="form-control">{{ post.body }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>    
                </form>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}" type="module"></script>
    <script>

        function likePost(postId) {
            fetch('/like', {
                method: 'PUT',
                body: JSON.stringify({
                    postId: postId
                })
            })
            .then(response => response.json())
            .then(result => {
                let isPostLiked = result["isPostLiked"];
                const likeCount = result["likeCount"];
                
                const likeButton = document.getElementById(`like-button-${postId}`);
                likeButton.innerHTML = isPostLiked ? `<i class="bi bi-heart-fill"></i> ` : `<i class="bi bi-heart"></i> `;
                likeButton.append(likeCount);
            })
        }

        function editPost(post) {
            document.getElementById(`post-edit-${post.id}`).style.display = "block";
            document.getElementById(`post-view-${post.id}`).style.display = "none";

            document.querySelector('#edit-post-form').addEventListener('submit', () => {
                event.preventDefault();

                const postBody = document.querySelector('#edit-post-body').value;

                fetch('/edit', {
                    method: 'PUT',
                    body: JSON.stringify({
                        postId: post.id,
                        postBody: postBody 
                    })
                })
                .then(response => response.json())
                .then(result => {
                    document.getElementById(`post-body-${post.id}`).innerHTML = postBody;
                    document.getElementById(`post-edit-${post.id}`).style.display = "none";
                    document.getElementById(`post-view-${post.id}`).style.display = "block";
                });
            });
        } 

    </script>
{% endblock %}
